<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>CSE 308</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
    integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>
	<script type="text/javascript" src="./geojson/usa_states_500k.js"></script>
	  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../js/style.css">

	  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.min.js"></script>
	  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/16.2.0/umd/react.production.min.js"></script>


  </head>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="text-white navbar-brand toggle-btn" onclick="toggleNav()">&#9776;</a>

      <div th:if="${username != null}" th:text="'Welcome, ' + ${username} + '!'" style="color:white;"></div>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <input id="statefield" class="form-control mr-sm-2 rounded-0" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 rounded-0" onclick="stateSearch()">Search</button>

        <a class="nav-item nav-link text-light" data-toggle="modal" data-target="#aboutModal">About</a>

        <!-- Modal -->
        <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="aboutTitle">About the Website</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                This webpage will help in redistricting for presidential elections. Running on a custom objective function with custom algorithms, the user can
        				freely adjust precincts and districts for redistricting and possible gerrymandering. The user may click on a state to zoom into the state's respective
        				districts. The state's precincts will load upon zooming further in after selecting a state. The user may adjust the objective function values
        				and weights on the left hand side hamburger menu. The user must select one of the four custom algorithms to run the redistricting process. A console
        				is provided within the hamburger menu to give the user real time information of the calculation process. The user is also able to pause, resume,
        				or stop the algorithm mid-way using the media controls below the console in the menu. To reset the map to reselect a state, a RESET
        				button is provided on the left hand side of the navigation bar.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

          <a th:if="${usertype == 'user'}" th:text="Logout" class="nav-item nav-link text-light" href="http://localhost:8080/logout"></a>

          <a th:if="${usertype == 'admin'}" th:text="Logout" class="nav-item nav-link text-light" href="http://localhost:8080/logout"></a>

          <a th:if="${usertype == '' || usertype == null}" class="nav-item nav-link text-light" href="../templates/login.html">Login</a>

          <a th:if="${usertype == 'admin'}" th:text="Admin" class="nav-item nav-link text-light" href="http://localhost:8080/admin"></a>

      </div>
    </div>
<!--
    <form class="form-inline center-form">
      <input class="form-control mr-sm-2 rounded-0" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 rounded-0" type="submit">Search</button>
    </form>
-->
    <button id="reset" class="btn btn-outline-danger my-2 my-sm-0 rounded-0" onclick="resetMap();">Reset</button>
  </nav>


  <div class="content" id="main">
    <div id="mapid">
    </div>


  </div>
  <div id="sidenav">
   <div class="top">
       <div class="card rounded-0">
           <div class="card-header">
               <a data-toggle="collapse" data-parent="#sidenav" href="#state_selector" class="card-link">
                   Select State
               </a>
           </div>
           <div id="state_selector" class="collapse">
               <div id="state_selector_options" class="card-body">
                   <!--dynamically generated in map.js -> populateStateOptions-->
               </div>
               <div>
                   <button id = "dropdownStateSearch" class="btn btn-outline-success my-2 my-sm-0 rounded-0" onclick="dropdownStateSearch()">Go</button>
               </div>
           </div>
       </div>

     <div class="card rounded-0">
       <div class="card-header">
         <a data-toggle="collapse" data-parent="#sidenav" href="#measures" class="card-link">
           Measures
         </a>
       </div>
       <div id="measures" class="collapse">
         <div class="card-body">
           <label for="population_equality">Population Equality:</label>
           <label id="pop_value">50</label>
           <input type="range" class="custom-range" min="0" max="100" step="1" id="population_equality">
           <label for="partisan_fairness">Partisan Fairness:</label>
           <label id="part_value">50</label>
           <input type="range" class="custom-range" min="0" max="100" step="1" id="partisan_fairness">
           <label for="compactness">Compactness:</label>
           <label id="comp_value">50</label>
           <input type="range" class="custom-range" min="0" max="100" step="1" id="compactness">

           <div class="container">
             <div class="row">
               <div class="col px-0 pt-3">
                  <input id="prefName" type="text">
               </div>
               <div class="col-3 pt-3 px-0">
                 <button type="button" class="btn btn-primary weight-save m-0 p-0" onclick="savePreferences()">Save</button>
               </div>
             </div>
           </div>

           <div class="container">
             <div class="row">
               <div class="col px-0 pt-3">
                 <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle weight-drop m-0 p-0" type="button" id="dropdownPreferences" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Select
                    </button>
                    <div id="prefDiv" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a th:each = "preference : ${userPreferences}" th:text="${preference.getName()}" class="dropdown-item" onclick="select_preference(this);"></a>
                    </div>
                  </div>
               </div>
               <div class="col-3 pt-3 px-0">
                 <button type="button" class="btn btn-primary weight-save m-0 p-0" onclick="loadPreferences();">Load</button>
               </div>
             </div>
           </div>



         </div>
       </div>
     </div>

     <div class="card rounded-0">
       <div class="card-header">
         <a data-toggle="collapse" data-parent="#sidenav" href="#algorithms" class="card-link">
           Algorithms
         </a>
       </div>
       <div id="algorithms" class="collapse">
         <div class="card-body">
           <div class="custom-control custom-radio">
             <input type="radio" id="algorithm1" name="algorithm" class="custom-control-input" checked="checked" value="Region Growing">
             <label class="custom-control-label" for="algorithm1">Region Growing (Random)</label>
           </div>
           <div class="custom-control custom-radio">
             <input type="radio" id="algorithm2" name="algorithm" class="custom-control-input" value="Simulated Annealing">
             <label class="custom-control-label" for="algorithm2">Simulated Annealing</label>
           </div>
           <div class="custom-control custom-radio">
             <input type="radio" id="algorithm3" name="algorithm" class="custom-control-input" value="Region Growing Variant">
             <label class="custom-control-label" for="algorithm3">Region Growing (Round-Robin)</label>
           </div>
           <div class="custom-control custom-radio">
             <input type="radio" id="algorithm4" name="algorithm" class="custom-control-input" value="Simulated Annealing Variant">
             <label class="custom-control-label" for="algorithm4">Simulated Annealing Variant</label>
           </div>
         </div>
       </div>
     </div>

       <div class="card rounded-0">
           <div class="card-header">
               <a data-toggle="collapse" data-parent="#sidenav" href="#district_selector" class="card-link">
                   Manual Move
               </a>
           </div>
           <div id="district_selector" class="collapse">

               <div>
                   <button id="district_selector_toggle" class="btn">Manual Mode</button>
               </div>
               <div>
                    <label id="district_selector_message">&nbsp</label>
               </div>
               <div id="district_selector_options" class="card-body">
                   <!--dynamically generated in map.js -> populateDistrictOptions-->
               </div>
               <div>
                   <button id="move_temporary" class="btn btn-outline-success my-2 my-sm-0 rounded-0" disabled>Move</button>
                   <button id="move_lock" class="btn btn-outline-success my-2 my-sm-0 rounded-0" disabled>Lock</button>
               </div>
           </div>
       </div>
       <div class="card rounded-0">
           <div class="card-header">
               <a data-toggle="collapse" data-parent="#sidenav" href="#display_option" class="card-link">
                   Display
               </a>
           </div>
           <div id="display_option" class="collapse">
               <div class="btn-group btn-group-toggle card-body" data-toggle="buttons">
                   <label class="btn btn-primary display-button" onclick="displayOriginalMap()">
                       <input type="radio" name="options" id="original"> Original
                   </label>
                   <label class="btn btn-primary display-button" onclick="displayGeneratedMap()">
                       <input type="radio" name="options" id="generated"> Generated
                   </label>
               </div>
           </div>
       </div>

       <div class="card rounded-0">
         <div class="card-header">
           <a data-toggle="collapse" data-parent="#sidenav" href="#map_option" class="card-link">
             Save Map
           </a>
         </div>
           <div id="map_option" class="collapse">
             <div class="card-body">

               <div class="container">
                 <div class="row">
                   <div class="col px-0 pt-3">
                      <input type="text" id="mapfield">
                   </div>
                   <div class="col-3 pt-3 px-0">
                     <button type="button" class="btn btn-primary weight-save m-0 p-0" onclick="save_map()">Save</button>
                   </div>
                 </div>
               </div>


               <div class="dropdown">
                   <button class="btn btn-secondary dropdown-toggle mt-3 p-0 map-drop-h" type="button" id="dropdownMapButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Select
                   </button>
                      <div id="mapMenu"class="dropdown-menu" aria-labelledby="dropdownMapButton">
                          <!-- <a th:each = "mapName : ${userMapNames}" th:text="${mapName}" class="dropdown-item" onclick="select_map(this);"></a> -->
                      </div>
                </div>

               <div class="container">
                 <div class="row">
                   <div class="col pt-3 px-0 mr-2">
                     <button type="button" class="btn btn-primary weight-save m-0 p-0" onclick="load_map()">Load</button>
                   </div>
                   <div class="col pt-3 px-0">
                     <button type="button" class="btn btn-primary weight-save m-0 p-0" onclick="delete_map()">Delete</button>
                   </div>
                 </div>
               </div>

             </div>
           </div>
         </div>

         <div class="card rounded-0">
           <div class="card-header">
             <a data-toggle="collapse" data-parent="#sidenav" href="#district_options" class="card-link">
               District Exclusion
             </a>
           </div>
           <div id="district_options" class="collapse">
             <div id="exclusionMenu" class="card-body">
          
             </div>
           </div>
         </div>



	</div>

	<div class="bottom">

		<div class="console-display" id="console">
		  <p>Console<</p>
		</div>

		<div class="media-controls" id="controls">
		  <i id="pause" class="material-icons white-icon">pause</i>
		  <i id="start" class="material-icons white-icon">play_arrow</i>
		  <i id="stop" class="material-icons white-icon">stop</i>
		</div>
	</div>
  </div>


  <footer>
    <script src="../js/custom.js"></script>
      <script src='../js/layermanager.js'></script>
      <script src='../js/SocketConnect.js'></script>
      <script src='../js/ManualMove.js'></script>
    <script src="../js/map.js"></script>
  </footer>



</html>
