<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../js/style.css">

</head>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="text-white navbar-brand toggle-btn" onclick="toggleNav()">&#9776;</a>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link text-light" href="http://localhost:8080/">Home <span class="sr-only">(current)</span></a>
    </div>
  </div>

</nav>



<!-- <script>
	var req;
	var errorField;
	
	function validateLogin(){
		errorField = document.getElementById("errmsg");
		var emailField = document.getElementById("email");
		var email = emailField.value;
		var password = document.getElementById("password").value;
		var url = "http://localhost:8080/login?email="+email+"&password="+password;
		req = new XMLHttpRequest();
		req.open("POST", url, true);
		//req.onreadystatechange = validation; //call back function that gets called after servlet runs
		req.send(null);
	}
	
	function validation(){
		if (req.readyState == 4 && req.status == 200) {
			if (req.responseText != "ok") {
				errorField.innerHTML = req.responseText;
				emailField.focus();
			}
		}
	}
	
</script> -->


<body class='bg-dark'>
  <div class='container standard-text pad-up'>
    <div class=row>
      <div  class='col-lg-2'></div>
      <div  class='col-lg-8'>

        <div class='jumbotron single-pane'>
          <div class='page-header standard-text'><h1>Login</h1></div>
            <div th:if="${invalid}" th:text="'Invalid Email or Password'" style="color:red"></div>
		<form action="http://localhost:8080/login" method="POST">
            <div class='form-group'>
                <label> Email </label>
                <input type='text' id='email' name='email' class='form-control' placeholder='Email'/>
            </div>
            <div class='form-group'>
                <label> Password </label>
                <input type='password' id='password' name='password' class='form-control' placeholder='Password'/>
            </div>
            <div class='form-group'>
                <input type="submit" class='btn btn-basic'/>
            </div>
		   <a href="./register.html">Haven't registered? Register here </a>
		</form>

        </div>
      </div>
      <div  class='col-lg-2'></div>
    </div>
  </div>
</body>

</html>
