<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>CSE 308</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
    integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>
	<script type="text/javascript" src="./geojson/usa_states_500k.js"></script>
	<script type="text/javascript" src="./geojson/cb_2017_us_cd115_500k.js"></script><!--
	<script type="text/javascript" src="./geojson/maryland_districts.js"></script>
	<script type="text/javascript" src="./geojson/connecticut_districts.js"></script>
	<script type="text/javascript" src="./geojson/kansas_districts.js"></script>
	<script type="text/javascript" src="./geojson/precinct_data/kansas_state_voting_precincts_2012.js"></script>
	<script type="text/javascript" src="./geojson/precinct_data/maryland_precincts_2012.js"></script>
	<script type="text/javascript" src="./geojson/precinct_data/connecticut_precincts.js"></script>-->
	  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">

	  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.min.js"></script>
	  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/16.2.0/umd/react.production.min.js"></script>


  </head>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="text-white navbar-brand toggle-btn" onclick="toggleNav()">&#9776;</a>

      <div th:if="${username != null}" th:text="'Welcome, ' + ${username} + '!'" style="color:white;"></div>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <input id="statefield" class="form-control mr-sm-2 rounded-0" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 rounded-0" onclick="stateSearch()">Search</button>

        <a class="nav-item nav-link text-light" data-toggle="modal" data-target="#aboutModal">About</a>

        <!-- Modal -->
        <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="aboutTitle">About the Website</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                This webpage will help in redistricting for presidential elections. Running on a custom objective function with custom algorithms, the user can
        				freely adjust precincts and districts for redistricting and possible gerrymandering. The user may click on a state to zoom into the state's respective
        				districts. The state's precincts will load upon zooming further in after selecting a state. The user may adjust the objective function values
        				and weights on the left hand side hamburger menu. The user must select one of the four custom algorithms to run the redistricting process. A console
        				is provided within the hamburger menu to give the user real time information of the calculation process. The user is also able to pause, resume,
        				or stop the algorithm mid-way using the media controls below the console in the menu. To reset the map to reselect a state, a RESET
        				button is provided on the left hand side of the navigation bar.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

          <a th:if="${usertype == 'user'}" th:text="Logout" class="nav-item nav-link text-light" href="http://localhost:8080/logout"></a>

          <a th:if="${usertype == 'admin'}" th:text="Logout" class="nav-item nav-link text-light" href="http://localhost:8080/logout"></a>

          <a th:if="${usertype == '' || usertype == null}" class="nav-item nav-link text-light" href="login.html">Login</a>

          <a th:if="${usertype == 'admin'}" th:text="Admin" class="nav-item nav-link text-light" href="http://localhost:8080/admin"></a>

      </div>
    </div>
<!--
    <form class="form-inline center-form">
      <input class="form-control mr-sm-2 rounded-0" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 rounded-0" type="submit">Search</button>
    </form>
-->
    <button class="btn btn-outline-danger my-2 my-sm-0 rounded-0" onclick="resetMap();">Reset</button>
  </nav>


  <div class="content" id="main">
    <div id="mapid">
    </div>


  </div>
  <div id="sidenav">
   <div class="top">
       <div class="card rounded-0">
           <div class="card-header">
               <a data-toggle="collapse" data-parent="#sidenav" href="#state_selector" class="card-link">
                   Select State
               </a>
           </div>
           <div id="state_selector" class="collapse">
               <div id="state_selector_options" class="card-body">
                   <!--dynamically generated in map.js -> populateStateOptions-->
               </div>
               <div>
                   <button id = "dropdownStateSearch" class="btn btn-outline-success my-2 my-sm-0 rounded-0" onclick="dropdownStateSearch()">Go</button>
               </div>
           </div>
       </div>

     <div class="card rounded-0">
       <div class="card-header">
         <a data-toggle="collapse" data-parent="#sidenav" href="#measures" class="card-link">
           Measures
         </a>
       </div>
       <div id="measures" class="collapse">
         <div class="card-body">
           <label for="customRange1">Population Equality</label>
           <input type="range" class="custom-range" min="0" max="100" step="5" id="customRange1">
           <label for="customRange2">Partisan Fairness</label>
           <input type="range" class="custom-range" min="0" max="100" step="5" id="customRange2">
           <label for="customRange3">Compactness</label>
           <input type="range" class="custom-range" min="0" max="100" step="5" id="customRange3">
         </div>
       </div>
     </div>

     <div class="card rounded-0">
       <div class="card-header">
         <a data-toggle="collapse" data-parent="#sidenav" href="#algorithms" class="card-link">
           Algorithms
         </a>
       </div>
       <div id="algorithms" class="collapse">
         <div class="card-body">
           <div class="custom-control custom-radio">
             <input type="radio" id="algorithm1" name="algorithm" class="custom-control-input" value="Region Growing">
             <label class="custom-control-label" for="algorithm1">Region Growing</label>
           </div>
           <div class="custom-control custom-radio">
             <input type="radio" id="algorithm2" name="algorithm" class="custom-control-input" value="Simulated Annealing">
             <label class="custom-control-label" for="algorithm2">Simulated Annealing</label>
           </div>
           <div class="custom-control custom-radio">
             <input type="radio" id="algorithm3" name="algorithm" class="custom-control-input" value="Region Growing Modified">
             <label class="custom-control-label" for="algorithm3">Region Growing Modified</label>
           </div>
           <div class="custom-control custom-radio">
             <input type="radio" id="algorithm4" name="algorithm" class="custom-control-input" value="Simulated Annealing Modified">
             <label class="custom-control-label" for="algorithm4">Simulated Annealing Modified</label>
           </div>
         </div>
       </div>
     </div>


	</div>

	<div class="bottom">

		<div class="console-display" id="console">
		  <p>Console<</p>
		</div>

		<div class="media-controls" id="controls">
		  <i class="material-icons white-icon">pause</i>
		  <i id="start" class="material-icons white-icon">play_arrow</i>
		  <i class="material-icons white-icon">stop</i>
		</div>
	</div>
  </div>


  <footer>
    <script src="custom.js"></script>
      <script src='layermanager.js'></script>
    <script src="map.js"></script>
    <script src='SocketConnect.js'></script>
	  <script type="text/javascript" src="sendRequest.js"></script>
  </footer>



</html>
