html {
  height: 100%;
}

body {
  height: calc(100% - 56px);
}
#sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 56px;
  left: 0;
  background-color: #343a40;
  overflow-x: hidden;
  transition: 0.5s;
}

#state_selector_options{
  max-height:100px;
  overflow-y: scroll;

  float:left;

}

#dropdownStateSearch{
    width:100%;
    height: 100%;
}

#main {
    height: 100%;
    transition: margin-left .5s;
}

#mapid {
  height: 100%;
}


.console-display {
  background-color: black;
  height: 200px;
  color: green;
  overflow-y: scroll;
  word-wrap: break-word;
}

.top {
  height: 55%;
  overflow-y: scroll;
}

.bottom {
  height: 45%;
}

.media-controls {
  text-align: center;
  width: inherit;
  white-space: nowrap;
}

.white-icon {
  color: white;
  font-size: 40px;
  padding: 20px;
  cursor: pointer;
}

i:hover {
  animation: enlargeButton .5s forwards;
}

.toggle-btn {
  cursor: pointer;
}

@keyframes enlargeButton {
  from {font-size:40px;}
  to {font-size:50px;}
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.display-button {
  width: 100px;
}
.weight-button {
  height: 30px;
  width: 60px;
}
.weight-save {
  height: 30px;
  width: inherit;
}
.weight-drop {
  height: 30px;
  width: 182px;
}
.map-drop-h {
  height: 30px;
  width: 100%;
}
